body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100%;
}

.image-container {
    flex: 0 0 50%;
    overflow: auto;
    position: relative;
}

.image-container img {
    width: 100%;
    transition: transform 0.25s ease;
}

.images {
    cursor: pointer;
}

.content {
    flex: 1;
    padding: 20px;
}

.popup {
    position: fixed;
    top: 5px;
    right: -100%;
    bottom: 5px;
    width: 30%;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    transition: right 0.3s ease;
    padding: 20px;
    overflow-y: auto;
    border-radius: 10px;
}

.popup.active {
    right: 5px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}
