body, html {
    margin: 0;
    padding: 0;
}

.home {
    position: relative;
}

#map {
    width: 100%;
}

.map, .stations {
    position: absolute;
}

.stations {
    position: relative;
}

#Bandra, #Thane, #Sion, #Kurla, #Airoli, #Ghansoli, #Wadala, #Matunga, #Nerul, #Kopar, #Andheri {
    position: absolute;
    cursor: pointer;
    background-color: black;
}

#Bandra {
    margin-left: 14.6%;
    margin-top: 83.7%;
    height: 1.2vw;
    width: 3.7vw;
}

#Andheri {
    margin-left: 13.3%;
    margin-top: 69.7%;
    height: 1.2vw;
    width: 4.1vw;
}

#Thane {
    margin-left: 43.5%;
    margin-top: 64.1%;
    height: 1.2vw;
    width: 3.2vw;
}

#Airoli {
    margin-left: 54.7%;
    margin-top: 68.5%;
    height: 1.1vw;
    width: 2.2vw;
}

#Ghansoli {
    margin-left: 61.1%;
    margin-top: 75.4%;
    height: 1.1vw;
    width: 3.7vw;
}

#Kopar {
    margin-left: 61.1%;
    margin-top: 79.7%;
    height: 1vw;
    width: 6.3vw;
}

#Nerul {
    margin-left: 61.5%;
    margin-top: 92.8%;
    height: 1.3vw;
    width: 2.9vw;
}

#Sion {
    margin-left: 27.5%;
    margin-top: 91.4%;
    height: 1vw;
    width: 1.9vw;
}

#Matunga {
    margin-left: 22.1%;
    margin-top: 96%;
    height: 1.2vw;
    width: 3.6vw;
}

#Kurla {
    margin-left: 29.1%;
    margin-top: 86%;
    height: 1.2vw;
    width: 2.7vw;
}

#Wadala {
    margin-left: 36.5%;
    margin-top: 102.8%;
    height: 1.3vw;
    width: 3.7vw;
}

.popup {
    position: fixed;
    top: 5px;
    right: -100%;
    bottom: 5px;
    width: 30%;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    transition: right 0.3s ease;
    padding: 20px;
    overflow-y: auto;
    border-radius: 10px;
}

.popup.active {
    right: 5px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}
