body, html {
    margin: 0;
    padding: 0;
}

.home {
    position: relative;
}

#map {
    width: 100%;
}

.map, .stations {
    position: absolute;
}

.stations {
    position: relative;
}

#Bandra, #image4 {
    position: absolute;
    cursor: pointer;
    background-color: black;
}

#Bandra {
    margin-left: 14.6%;
    margin-top: 83.7%;
    height: 1.2vw;
    width: 3.7vw;
}

#image4 {
    margin-left: 43.5%;
    margin-top: 64%;
    height: 1.2vw;
    width: 3vw;
}

.popup {
    position: fixed;
    top: 5px;
    right: -100%;
    bottom: 5px;
    width: 30%;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    transition: right 0.3s ease;
    padding: 20px;
    overflow-y: auto;
    border-radius: 10px;
}

.popup.active {
    right: 5px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}
